.darkBG {
	background: #999;
}
.darkerBG {
	background: #666;
}
.darkestBG {
	background: #333;
}
header {
	margin: 0px 0px 10px 0px;
}

div.container {
	margin-bottom: 15px;
}

button {
	margin-right: 10px!important;
}